.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end; /* Align items to the end of the container */
  }
  
  .nav__list {
    display: flex; /* Make the list items behave as flex items */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav__item {
    margin: 0 10px;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav__link:hover {
    color: #ccc;
  }
  






























/* .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .nav {
    display: flex;
    justify-content: center;
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav__item {
    margin: 0 10px;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav__link:hover {
    color: #ccc;
  }
   */