/* Homepage.css */

.home-container {
  background-color: #f0f0f0; /* Set background color for the entire Home component */
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff; /* Set background color for individual cards */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card p {
  font-size: 1rem;
}

.event-link {
  text-decoration: none;
  color: inherit;
}

.event-link:hover .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}






































/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card p {
  font-size: 1rem;
}

.event-link {
  text-decoration: none;
  color: inherit;
}

.event-link:hover .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */































/* styles.css
.header {
  background-color: #333;
  color: cyan;
  padding: 10px;
}

.page-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  padding: 2em;
  border: 1px solid black;
}

.grid {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.img {
  width: 200px;
} */